@font-face {
    font-family: 'LeviReBrushed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LeviReBrushed Regular'), url('LeviReBrushed.woff') format('woff');
    }

h1 {
	font-family: 'LeviReBrushed Regular';
	font-weight:  200;
}